@model Store.Models.Showroom

@{
    ViewData["Title"] = "Edit Showroom";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Showroom</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <input asp-for="LogoUrl" hidden />
            <input asp-for="VendorId" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3 mt-4 row">
                        <div class="row pb-2">
                            <h2 class="text-primary pl-3">Showroom Details</h2>
                            <hr />
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Name" class="p-0"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row p-1">
                            <label asp-for="Address" class="p-0"></label>
                            <textarea asp-for="Address" class="form-control"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row p-1">
                            <label class="p-0">Showroom Logo</label>
                            <input type="file" name="file" class="form-control" />
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">Update</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2 pt-4">
                    @if (Model.LogoUrl != null)
                    {
                        <img src="~/images/showrooms/@Model.LogoUrl" width="100%"
                             style="border-radius:5px; border:1px solid #bbb9b9" />
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}